/* For google font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap");

/* Colors */
:root {
  --primary: #29e9bc;
  --normal: #ffffff;
  --black: #13131a;
  --bg: #0c1013;
  --danger: #f75842;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
}

/* Universal selector  */
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  outline-offset: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  list-style: none;
  transition: all 0.5s linear;
  scroll-behavior: smooth;
}

/* Custom Scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--normal);
}

::-webkit-scrollbar-thumb {
  background: var(--black);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--danger);
}

/* for body style */
body {
  line-height: 1.7;
  color: var(--normal); /* font color */
  background-color: var(--bg);
}

/* container size */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

/* for all h tag line height */
h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

/* for anchor tag */
a {
  color: var(--normal);
}

/* for all image */
img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* for button style */
.btn {
  display: inline-block;
  background-color: var(--primary);
  color: var(--black);
  padding: 0.5rem 2rem;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  font-weight: 500;
}
.btn:hover {
  color: var(--primary);
  background-color: transparent;
  border-color: var(--primary);
}

/* for bottom border */
.border_bottom {
  text-align: center;
  display: inline-block;
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
  margin-bottom: 2.5rem;
}

/* for nav section */
nav {
  background-color: var(--black);
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav_container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav_container span {
  color: var(--primary);
}
/* for logo name size */
.nav_container h4 {
  font-size: 1.8rem;
}

/* for logo name hover */
.nav_container h4:hover {
  color: var(--primary);
  transform: rotateX(360deg);
  transition-duration: 1.2s;
}

/* remove nav section two icon from desktop screen */
nav button {
  display: none;
}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav_menu a {
  font-size: 1rem;
}

.nav_menu a:hover {
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
  padding-bottom: 0.8rem;
  background-color: var(--black);
}

/* ====== Header section style ====== */
header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  margin-bottom: 2rem;
  background-color: var(--black);
}
.header_container {
  position: relative;
  display: flex;
  align-items: center;
}
.header_right {
  flex: 1;
}
.header_left {
  flex: 1;
}
.header_right .text-1 {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

.header_right .text-2 {
  font-size: 2.6rem;
  font-weight: 550;
}

.header_right .text-3 {
  font-size: 2rem;
  margin: 0.3rem 0;
}
/* for bottom angle line */
header::before {
  content: "";
  position: absolute;
  background-color: var(--bg);
  width: 100%;
  height: 5rem;
  bottom: 0;
  margin-bottom: -3.1rem;
  z-index: 99;
  transform: skewY(-2deg);
  transform-origin: left;
}
.header_right .typing {
  color: var(--primary);
  font-weight: 500;
}

/* ======ABOUT ME======= */

.about {
  text-align: center;
}

.about_container {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 2.5rem;
}

.about_container .about-img {
  border: 3px solid var(--primary);
  border-radius: 50%;
  overflow: hidden;
  max-width: 12.5rem;
  max-height: 12.5rem;
  margin-right: 2rem;
  position: relative;
  align-items: center;
  margin-bottom: 2rem;
}

.about_container .about-text {
  max-width: 70%;
  text-align: justify;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  padding-bottom: 2.5rem;
}

.about_container .about-text p {
  margin-bottom: 0.8rem;
}

.about_container .about-text .text {
  margin-bottom: 1rem;
}

.about_container .about-text .text span {
  color: var(--primary);
  font-weight: 500;
}

/* ======SERVICES======= */
.services {
  text-align: center;
  margin-top: -5rem;
}

.services_container .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.services_container .cards .card {
  background-color: var(--primary);
  padding: 1.5rem 1rem;
  margin: 0 1.5rem;
  cursor: pointer;
  position: relative;
}

.sbox i {
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  color: var(--bg);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 14px;
  transition: all 1s;
}

.sbox h3 {
  font-size: 1.2rem;
  color: var(--black);
}

.sbox p {
  margin: 1.2rem 0;
  color: var(--bg);
}

.sbox a {
  color: var(--normal);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.3rem 1rem;
  background-color: var(--bg);
  border-radius: 1rem;
}

.sbox a:hover {
  background-color: var(--normal);
  color: var(--bg);
  border: 1px solid var(--bg);
}

.services_container .cards .card:hover .sbox i {
  background-color: var(--bg);
  color: var(--normal);
}

.services_container .cards .card::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--normal);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}

.services_container .cards .card:hover::after {
  transform: rotate(13deg);
}
